<nav class="navbar navbar-expand-lg " style="background-color:#784bcc;">
    <a class="navbar-brand" href="#">
        <img src="assets/img/Raptor.png" width="35" height="35" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']" style="color:#F2F2F2;">Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['login']" style="color:#F2F2F2;">Iniciar Sesión</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['create']" style="color:#F2F2F2;">Crear Cuenta</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['recoverpassword']" style="color:#F2F2F2;">Recuperar Cuenta</a>
            </li>

        </ul>
    </div>
</nav>